body
{
  height: 100vh;
}
.center-div
{
  align-items: baseline;
  display: flex;
  position: absolute;
  margin: auto;
  top: -250px;
  right: 0;
  bottom: 0;
  left: 0;
  max-height: 250px;
  width: 75%;
}
img {
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-o-user-select: none;
user-select: none;
}