@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700,900&subset=japanese');

.logo img {
    width: 100%!important;
    position: absolute;
    
}

.navbar .logo {
  margin: -.5em 0em;
}

.img {
    max-width: 100%;
}

a {color: black;}
a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
a:active {text-decoration: none;}

p>a {color: tomato;}
p>a:link {text-decoration: none;}
p>a:visited {text-decoration: none;}
p>a:hover {text-decoration: none;border-bottom: 1px dashed;}
p>a:active {text-decoration: none;}


body {
    box-sizing: border-box;
    display: grid;
    grid-template-areas: "article" "footer";
    grid-template-rows: auto 70px;
    grid-template-columns: 100%;
    height: 100vh;
    margin: 0;
    font-family: 'Noto Sans Japanese', sans-serif!important;
}

menu {
    display:none;
}

.menu.date {
    font-weight: 700;
    margin-top: 1em;
    margin-left: 1.25em!important;
    font-size: 24px;
    margin-left:auto;
    display: flex;
}

article {
	margin: 1em 0em 5em 0em;
}

footer {
    font-size: 10px;
    padding: 2em;
}

article,h2,page,nav,menu {
    font-family: 'Noto Sans Japanese', sans-serif!important;
    line-height: 1.6;
}

article p,
article h3,
article form {
    margin: 1em;
}

#pageHeader {
    grid-area: header;
}

#mainArticle {
    grid-area: article;
}

#mainNav {
    grid-area: nav;
}

#pageFooter {
    grid-area: footer;
}

.navbar {
  overflow: hidden;
  bottom: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #000;
  text-align: left;
  margin: 2em 0em 2em 2em;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

.navbar a:hover {
  color: tomato;
  border-bottom: 0px;
}

.navbar a.active {
  color: tomato;
}

.navbar a.title:hover {
  background: #fff;
    color: #000;
}

.navbar .icon {
  display: none;
}

.sales-nav {
    width: 700px;
    display: inline-block;
}

.button {
    display: inline-block;
    margin: 0 0 0 1em;
    padding: 8px 20px;
    border: 0;
    border-radius: 0.317rem;
    background-color: #2ecc71;
    text-decoration: none;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.6;
    font-family: 'Noto Sans JP', sans-serif;
    cursor: pointer;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
}

.button:hover {
    opacity: 0.85;
}

.button a {
    color: white!important;
}


@media all and (max-width: 700px) {

.logo img {
    width: 100%!important;
    height: 100%!important;
    padding-bottom: 5px;
}

.rotate {
  position: absolute;
  top: 66%;
  left: 25%;
  margin: -100px 0 0 -100px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.sub {
    padding-left: 3em!important;    
}

body {
    grid-template-areas: "article" "footer";
    grid-template-rows: auto 70px;
    grid-template-columns: 1fr;
}

    .navbar a {
    width: 100%;
    margin: 0px;
    padding: 1em;
    border-top: 1px solid black;
    }
.navbar a:hover {
  color: tomato;
}
.navbar a:last-child {
    border-bottom: 1px solid black;
    }
.navbar a.title {
    border-top: 0px!important;
    }
.index .navbar a.title {
    display:none!important;
}

.article {
	margin: 0 0 1em 0;
}

.navbar a.title {
    padding-bottom: 0.5em;
}

.menu {
    font-weight: 700;
    margin: 1em;
    font-size: 24px;
    margin-left:auto;
    display: flex;
}

.menu.date {
    margin-left: .65em!important;
}
    .page {
        font-family: 'Noto Sans Japanese', sans-serif!important;
        float:left;
        position:absolute;
        left: 1em;
        font-size: 24px;
    }
    
    .sales-nav {
    width: 100%;
}
    
}
