@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:400,500,700,900&subset=japanese');

body {
  font-family: "M PLUS Rounded 1c", sans-serif;
  color: #000;
  text-align: center;
}

#container {
  width: auto;
  padding: 20px 0;
}

#container h1 {
  width: 100%;
  text-align: center;
  font-weight:400;
  font-size: 14px;
  color: #000;
}

#quoteContainer {
  display: flex;
  width: 100%;
  margin: 0;
  font-size: 10vw;
  font-weight: 900;
  vertical-align: middle;
  align-items: center;
  height: 70vh;
}

#quoteContainer p {
  width: 100%;
  vertical-align: middle;
}

#buttonContainer {
  width: 100%;
  text-align: center;
}

#quoteButton {
  background-color: #000;
  width: 100px;
  margin-top: 10px;
  border: 2px solid #000;
  border-radius: 3px;
  color: #FFF;
  font-family: inherit;
  font-weight: 400;
  padding: 5px;
  text-decoration: none;
  text-align: center;
  display: inline-block;
}

#quoteButton:active {
  cursor: pointer;
}

.tweetButton {
  background-color: #7EEEE4;
  width: 50px;
  margin-top: 10px;
  border: 2px solid #7EEEE4;
  border-radius: 3px;
  font-family: inherit;
  font-weight: bold;
  padding: 5px;
  text-decoration: none;
}


.tweetButton:before {
  font-family: FontAwesome;
  margin: 10px;
}

#quoteName {
  text-align: center;
}

@media all and (max-width: 700px) {
 
#quoteContainer {
  height: 50vh;
}
    
}