@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded 1c:400,500,700,900&subset=japanese');

body {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 900;
  margin: 0;
  overflow: hidden; /* Prevent body scrolling */
}

button:focus {
  outline: 0;
}

/* Ripple effect */
.ripple {
  background-position: center;
  transition: background 0.8s;
}

.ripple:hover {
  background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
}

.ripple:active {
  background-color: #6eb9f7;
  background-size: 100%;
  transition: background 0s;
}

.square-container {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100); /* Ensure it fills the full viewport height */
}

.square {
  position: relative;
  flex-basis: 50%; /* Two squares per row on mobile */
  margin: 0; /* No margins between squares */
  border: 0;
  box-sizing: border-box;
  height: auto; /* Height will adjust automatically */
  perspective: 1000px; /* For flip effect */
}

/* Flip effect */
.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.square.flipped .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front,
.flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
}

.flip-box-back {
  transform: rotateY(180deg);
}

.square .content {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%; /* Ensure content stays within the square */
  transform: translate(-50%, -50%);
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 5vw; /* Font size for mobile */
  font-weight: 900; /* Bold font */
  text-align: center;
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide overflowing text */
  text-overflow: ellipsis; /* Add ellipsis if text overflows */
}

/* On mobile, make the 9th square span the full width */
@media (max-width: 650px) {
  .square:nth-child(9) {
    flex-basis: 100%; /* Make the 9th square span the full width */
    display: flex; /* Use Flexbox for layout */
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
  }
}

/* Adjustments for larger screens */
@media all and (min-width: 768px) { /* Updated from 650px to 768px */
  .square {
    flex-basis: calc(33.333% - 0px); /* Three squares per row */
    height: calc(33.333vh); /* Adjust height to maintain full screen without scrolling */
  }

  .square .content {
    font-size: 3.5vw; /* Adjust font size for larger screens */
  }
}
